spring.jpa.database=mysql
spring.jpa.show-sql=false
spring.jpa.hibernate.ddl-auto=update

spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/authorizerdb
spring.datasource.username=root
spring.datasource.password=Pass!234

spring.jpa.open-in-view=true

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jackson.serialization.indent_output=true
#spring.mvc.static-path-pattern=/resources/**
#logging.level.root=INFO
#logging.level.com.bancatlan.atmauthorizer.component=TRACE
#logging.file=file:/Users/walletmachine/projects/bank-git-repository/atm-authorizer-mysql/src/main/resources/
logging.path=/Users/walletmachine/projects/


#PO Parameters
bank.service.po.username=APPOCH19
bank.service.po.password=hm@x.G0{

#PO DEV credentials
bank.service.po.qa.username=APPOCH19
bank.service.po.qa.password=hm@x.G0{

#PO DEV credentials
bank.service.po.dev.username=opagoaga
bank.service.po.dev.password=inicio01

#PO DEV 2 credentials
bank.service.po.dev1.username=opagoaga
bank.service.po.dev1.password=Inicio01

#ConsultaSaldoV2
bank.service.account.list.transaction.id=100128
bank.service.account.list.application.id=001
bank.service.account.list.canal.id=001
bank.service.account.list.register.type=UAI

#EnvioNotificacion
bank.service.notification.transaction.id=100265
bank.service.notification.application.id=001
bank.service.notification.canal.id=101
bank.service.notification.line=1
bank.service.notification.category=1

#transfer
bank.service.transfer.transaction.id=0000
#application id Voucher BASA = 2272, pero genera error
bank.service.transfer.application.id=2199
bank.service.transfer.canal.id=1
bank.service.transfer.action=A
bank.service.transfer.validate=1
bank.service.transfer.debit.currency=LPS
bank.service.transfer.debit.movement=XX
bank.service.transfer.credit.currency=LPS
bank.service.transfer.credit.movement=XX
bank.service.transfer.field.type=TIPO_TRANSACCION
bank.service.transfer.source=INTERNET
bank.service.transfer.line=1

#CongelamientoCuentas
bank.service.freeze.transaction.id=100347
bank.service.freeze.application.id=001
bank.service.freeze.institution.id=001
bank.service.freeze.canal.id=101
bank.service.freeze.sucursal.id=101
bank.service.freeze.days=3

#Files
spring.resources.static-locations=file:/Users/walletmachine/projects/bank-git-repository/atm-authorizer-mysql/src/main/resources/wsdl/
bus-integration.wsdl.balance-name=SI_OS_ConsultaSaldoV2Service.wsdl
bus-integration.wsdl.transfer-name=SI_OS_TransferenciaContableService.wsdl
bus-integration.wsdl.notification-name=SI_OS_EjecutarEnvioNotificacionService.wsdl
bus-integration.wsdl.freeze-name=SI_OS_CongelamientoCuentas.wsdl
bus-integration.wsdl.update-txn-name=SI_OS_UpdateTransactionServiceDEV.wsdl
#bus-integration.wsdl.freeze-endpoint=http://sappocoredev.adbancat.hn:50000/XISOAPAdapter/MessageServlet?senderParty=&senderService=BS_VBA_DEV_443_HN75ODH&receiverParty=&receiverService=&interface=SI_OS_CongelamientoCuentas&interfaceNamespace=http://hn.infatlan/ACD169/out/CongelamientoCuentas
bus-integration.wsdl.freeze-endpoint=http://sappocoreqas.adbancat.hn:50000/XISOAPAdapter/MessageServlet?senderParty=&senderService=BS_VBA_QAS_443_HN75OQH&receiverParty=&receiverService=&interface=SI_OS_CongelamientoCuentas&interfaceNamespace=http://hn.infatlan/ACD169/out/CongelamientoCuentas
bus-integration.wsdl.update-txn-endpoint=http://hndespombapp.adbancat.hn:50000/XISOAPAdapter/MessageServlet?senderParty=&senderService=BS_VBA_DEV_443_HN75ODH&receiverParty=&receiverService=&interface=SI_OS_UpdateTransaction&interfaceNamespace=http://hn.infatlan.mymo/ws/MYMO001/out/UpdateTransaction
#bus-integration.wsdl.update-txn-endpoint=http://hnqaspocrmapp.adbancat.hn:50000/XISOAPAdapter/MessageServlet?senderParty=&senderService=BS_VBA_QAS_443_HN75OQH&receiverParty=&receiverService=&interface=SI_OS_UpdateTransaction&interfaceNamespace=http://hn.infatlan.mymo/ws/MYMO001/out/UpdateTransaction
